.banner__info__titulo {
    color: #004C8F;
    font-size: 3.4rem;
    margin-bottom: 0.3rem;
    text-transform: uppercase;
}

@media screen and (min-width: 0px) {
    .banner__info__titulo {
        font-size: 3rem;
    } 
}

@media screen and (min-width: 442px) {
    .banner__info__titulo {
        font-size: 3.4rem;
    }
}