.banner__info {
    position: absolute;
    padding: 0 20rem;
    margin: 0;
    margin-top: 15rem;
    text-align: right;
}

@media screen and (min-width: 0px) {
    .banner__info {
        padding: 0 1rem;
    } 
}

@media screen and (min-width: 442px) {
    .banner__info {
        padding: 0 5rem;
    }
}

@media screen and (min-width: 992px) {
    .banner__info {
        padding: 0 20rem;
    }
}